{% load pwa %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icono.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <script src="{% static 'js/jquery-1.6.2.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <title>Mis Mistral</title>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <section id="container" class="container-fluid">
        <header class="row">
            <div class="col-xs-12 col-md-6">
                <div class="logo">
                    <img id="logo" src="../../static/img/logo.png" alt="mistral">
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <nav id="menu" class="row">
                    {% if user.is_authenticated %}
                    <a class="col-xs-12 col-sm-3">{{ user.username }}</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Comprar</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_out' %}">Cerrar sesión</a>
                    {% else %}
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_in' %}">Iniciar sesión</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_up' %}">Registrate</a>
                    {% endif %}
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:index' %}">Inicio</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Productos</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:contacto' %}">Contáctanos</a>
                </nav>
            </div>
        </header>
        <div style="text-align: center; color: rgb(22, 22, 22);">
            <br>
            <h1>Usuarios</h1>
            <br>
        </div>
        <section id="section" class="row">
            {% block content %}
            {% endblock content %}
        </section>
        <br><br><br>
        <section id="creditos">
            <br>
            <p>      ~Para que puedas tomar en la comodidad de tu hogar.</p>
            <br>
        </section>
    </section>
</body>

</html>