{% load pwa %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icono.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'css/agecheck.min.css' %}">
    <script src="{% static 'js/jquery.agecheck-min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <title>Mistral - Promociones</title>
    <script>
        $(document).ready(function () {

            var minAge = $('select').val();
            $('select').on('change', function () {
                minAge = $(this).val();
            });
            $('button').on('click', function () {
                sessionStorage.clear();
                $.ageCheck({ minAge: minAge });
            });

            $.ageCheck({ minAge: minAge });
        });        
    </script>
</head>

<body>
    <section id="container" class="container-fluid">
        <header class="row">
            <div class="col-xs-12 col-md-6">
                <div class="logo">
                    <img id="logo" src="../../static/img/logo.png" alt="mistral">
                </div>
            </div>

            <div class="col-xs-12 col-md-5">
                <nav id="menu" class="row">
                    {% if user.is_authenticated %}
                    <a class="col-xs-12 col-sm-3">{{ user.username }}</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Promociones</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_out' %}">Cerrar sesión</a>
                    {% else %}
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_in' %}">Iniciar sesión</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_up' %}">Registrate</a>
                    {% endif %}
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:index' %}">Inicio</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Productos</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:contacto' %}">Contáctanos</a>
                </nav>
            </div>
        </header>
         <!--Copete Disponible-->
         <div style="text-align: center; color: rgb(22, 22, 22);">
            <br>
            <h1>Productos en stock</h1>
            <br>
        </div>
        <section id="section" class="row">
            {% for copete in copetes %}
            {% if copete.estado == 'disponible' %}
            {% if copete.imagen %}
            <div class="copetediv">
                <img id="copetebd" src="{{copete.imagen.url}}" alt="" width="200px">
                <div class="text-block">
                    <h4>{{copete.nombre}}</h4>
                    <a href="{% url 'blog:copete_detail' pk=copete.pk %}"></a>
                    <p id="desc" style="font-weight:bold"><br>{{copete.precio}}</p>
                    <p id="desc" style="font-weight:bold"><br>Tipo: {{copete.tipo}}</p>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </section>
        <br>

        <!--Copete no disponible-->
        <div style="text-align: center; color: rgb(22, 22, 22);">
            <h1>Productos en camino | No disponibles aun</h1>
            <br>
        </div>
        <section id="section" class="row">
            {% for copete in copetes %}
            {% if copete.estado == 'nodisponible' %}
            {% if copete.imagen %}
            <div class="copetediv">
                <img id="copetebd" src="{{copete.imagen.url}}" alt="" width="200px">
                <div class="text-block">
                    <h4>{{copete.nombre}}</h4>
                    <p id="desc" style="font-weight:bold"><br>{{copete.precio}}</p>
                    <p id="desc" style="font-weight:bold"><br>Tipo: {{copete.tipo}}</p>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </section>

        <br>

        <!--Copetes seleccionados-->
        <div style="text-align: center; color: rgb(22, 22, 22);">
            <h1>Copetes seleccionados | Carrito de compras</h1>
            <br>
        </div>
        <section id="section" class="row">
            {% for copete in copetes %}
            {% if copete.estado == 'seleccionado' %}
            {% if copete.imagen %}
            <div class="copetediv">
                <img id="copetebd" src="{{copete.imagen.url}}" alt="" width="200px">
                <div class="text-block">
                    <h4>{{copete.nombre}}</h4>
                    <p id="desc" style="font-weight:bold"><br>{{copete.precio}}</p>
                    <p id="desc" style="font-weight:bold"><br>Tipo: {{copete.tipo}}</p>
                </div>
            </div>
            
            {% endif %}
            {% endif %}
            {% endfor %}
        </section>
        <br>
        <div style="text-align: center; color: rgb(22, 22, 22);">
            <h1>Finalizar compra</h1>
            <h3>Seleccionando tu método de pago.</h3>
            <br>
            <br>
            <a id="btns" href="{% url 'blog:finalizar' %}"> Comprar </a>
        </div>
        <br>
        <br>
        <section id="creditos">
            <br>
            <p>      ~Para que puedas tomar en la comodidad de tu hogar.</p>
            <br>
        </section>
    </section>
</body>

</html>