{% extends "base.html" %} {% block title %}Contacto{% endblock %} {% block content %}
<form method="POST" id="formulario">
    <h2>Número de contacto</h2>
    <h3>+569 9999 9999</h3>
    <h2>Email</h2>
    <h3>Mistral@gmail.com</h3>
</form>

{% endblock content %}