{% load pwa %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icono.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <script src="{% static 'js/jquery-1.6.2.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <title>Mistral - Promo</title>
</head>

<body id="index">
    <section id="container" class="container-fluid">
        <header class="row">
            <div class="col-xs-12 col-md-6">
                <div class="logo">
                    <img id="logo" src="../../static/img/logo.png" alt="mistral">
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <nav id="menu" class="row">
                    {% if user.is_authenticated %}
                    <a class="col-xs-12 col-sm-3">{{ user.username }}</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Promociones</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_out' %}">Cerrar sesión</a>
                    {% else %}
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_in' %}">Iniciar sesión</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_up' %}">Registrate</a>
                    {% endif %}
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:index' %}">Inicio</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Productos</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:contacto' %}">Contáctanos</a>
                </nav>
            </div>
        </header>
        <!--copete-->
        <div style="text-align: center; color: rgb(22, 22, 22);">
            <br>
            <h1>{{copete.nombre}}</h1>
            <br>
        </div>
        <section id="section" class="row">
            <br>
            <p style="font-weight:bold; color: #fff; padding-left: 2%"> {{copete.descripcion}}</p>
            <p style="font-weight:bold; color: aliceblue">Tipo: {{copete.tipo}}</p>
            <img id="copetebd" src="{{ copete.imagen.url }}" alt="" width="40%" style="box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.548);">
        </section>
        <div style="text-align: center; color: rgb(22, 22, 22);">
            <br>
            <h1>Formulario de verificación</h1>
            <h4>Información para corroborar identidad.</h4>
            <br>
        </div>

        <!--Formulario seleccion-->
        <section id="section" class="row">
            <form method="post" class="post-form" id="formulario">{% csrf_token %}
                {% if user.is_authenticated %}
                {{ form.as_p }}
                <button type='submit' class="save btn btn-default">   Seleccionar   </button>
                {% else %}
                <div style="text-align: center; color: rgb(22, 22, 22);">
                        <br>
                        <h1>Porfavor inicie sesión</h1>
                        <br>
                        <br>
                    </div>
                {% endif %}
            </form>
        </section>
        <section id="creditos">
                <br>
                <p>      ~Para que puedas tomar en la comodidad de tu hogar.</p>
                <br>
            </section>
    </section>
</body>

</html>
