{% load pwa %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% progressive_web_app_meta %}
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/icono.png' %}">
  <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/finalizar.css' %}">
  <script src="{% static 'js/jquery-1.6.2.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <title>Mis Mistral</title>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <section id="container" class="container-fluid">
    <header class="row">
      <div class="col-xs-12 col-md-6">
        <div class="logo">
          <img id="logo" src="../../static/img/logo.png" alt="mistral">
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <nav id="menu" class="row">
          {% if user.is_authenticated %}
          <a class="col-xs-12 col-sm-3">{{ user.username }}</a>
          <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Comprar</a>
          <a class="col-xs-12 col-sm-3" href="{% url 'sign_out' %}">Cerrar sesión</a>
          {% else %}
          <a class="col-xs-12 col-sm-3" href="{% url 'sign_in' %}">Iniciar sesión</a>
          <a class="col-xs-12 col-sm-3" href="{% url 'sign_up' %}">Registrate</a>
          {% endif %}
          <a class="col-xs-12 col-sm-3" href="{% url 'blog:index' %}">Inicio</a>
          <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Productos</a>
          <a class="col-xs-12 col-sm-3" href="{% url 'blog:contacto' %}">Contáctanos</a>
        </nav>
      </div>
    </header>
    <div style="text-align: center; color: rgb(22, 22, 22);">
      <br>
      <h1>Usuarios</h1>
      <br>
    </div>
    <section id="section" class="row">


      <div class="modal" style="padding-top: 100px;">
        <div class="modal__container">

          <div class="modal__content">
            <h2 style="padding-top: 20px;">Detalles de compra</h2>
            <br>
            <form>
              <ul class="form-list">


                <h4>Seleccione metodo de pago.</h4>
                <br>
                <li class="form-list__row">
                  <label for="id_modopago_0">Débito</label>
                  <span class="radio"><input id="id_modopago_0" name="modopago" type="radio" value="debito"
                      style="width: 40%;" required></span>

                </li>
                <li class="form-list__row">
                  <label for="id_modopago_1">
                    Crédito
                    <span class="radio"><input id="id_modopago_1" name="modopago" type="radio" value="credito"
                        style="width: 20%;" required></span>
                  </label>
                </li>
                <br>
                <br>
                <h4>Seleccione entrega de producto.</h4>
                <br>
                <li class="form-list__row">
                  <label for="id_entrega_0">
                    Llevar a domicilio
                    <span class="radio"><input id="id_entrega_0" name="entrega" type="radio" value="domicilio"
                        style="width: 30%;" required></span>
                  </label>
                </li>
                <br>
                <li class="form-list__row">
                  <label for="id_entrega_1">
                    Despachar en tienda
                    <span class="radio"><input id="id_entrega_1" name="entrega" type="radio" value="tienda"
                        style="width: 24%;" required></span>
                  </label>
                </li>
                <br>

                <li class="form-list__row">
                  <label style="padding-top: 10px;">Número de tarjeta</label>
                  <div id="input--cc" class="creditcard-icon">
                    <input type="text" name="cc_number" required="" />
                  </div>
                </li>
                <li class="form-list__row form-list__row--inline">
                  <div>
                    <label>Fecha de expiración</label>
                    <div class="form-list__input-inline">
                      <input type="text" name="cc_number" placeholder="MM" minlength="2" maxlength="2" required="" />
                      <input type="text" name="cc_number" placeholder="AA" minlength="2" maxlength="2" required="" />
                    </div>
                  </div>
                  <div>
                    <label>
                      CVC
                    </label>
                    <input type="text" name="cc_cvc" placeholder="123" minlength="3" maxlength="4" required="" />
                  </div>
                </li>
                <li class="form-list__row form-list__row--agree">
                  <label>
                    <input type="checkbox" name="save_cc" checked="checked">
                    Guardar datos para una futura compra .
                  </label>
                </li>
                <li style="padding-left: 42%;">
                  <a class="button" style="color: #ffffff; text-decoration: none;"
                      href="{% url 'blog:finalizar2' %}"> Pagar</a>
                </li>
              </ul>
            </form>
          </div> 
        </div>
      </div>

    </section>
    <br><br><br>
    <section id="creditos">
      <br>
      <p>      ~Para que puedas tomar en la comodidad de tu hogar.</p>
      <br>
    </section>
  </section>
</body>

</html>