{% extends "base.html" %} {% block title %}Finalizar{% endblock %} {% block content %}
<form method="POST" id="formulario">
    <h2>    Gracias por preferir botilleria Mistral</h2>
    <br>
    <h4 style="margin-left: 20%;">Su pedido está en proceso.</h4>
    <br>
    <br>
    <br>
    <a id="btns" style="margin-left: 200px;" href="{% url 'blog:index' %}"> ir a inicio</a>

</form>

{% endblock content %}