{% load pwa %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontstyle.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icono.png' %}">
    <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.6.2.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <title>Mistral</title>
    
    <style>
        .demo select {
            border: 1px solid #ccc;
            border-radius: 2px;
            padding: 2px;
        }

        .demo h3 {
            font-family: 'Bree Serif', arial;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            border-bottom: 1px dashed #ccc;
            padding: 0 0 20px 0;
            line-height: 38px;
        }

        .demo p {

            font-family: georgia, serif;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            margin-bottom: 10px;
            color: #ADADAD;
        }

        .demo button {
            box-sizing: border-box;
            display: inline-block;
            margin-bottom: 10px;
            margin-top: 5px;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 4px 20px 6px 20px;
            font-size: 24px;
            line-height: 1.5;
            background: #8EB908;
            color: #fff;
            text-shadow: 1px 1px 0 #84A51D;
            font-family: 'Bree Serif', serif;
        }

        .demo button:hover {
            box-sizing: border-box;
            background: #82A711;
        }

        @media (max-width: 500px) {
            .demo p {
                font-size: 12px;
                line-height: 17px;
            }

            .demo h3 {
                font-size: 18px;
                line-height: 22px;
            }

            .demo button {
                font-size: 17px;
            }
        }
    </style>
</head>

<body id="index">
    <section id="container" class="container-fluid">
        <header id="navegador" class="row">
            <div class="col-xs-12 col-md-6">
                <div class="logo">
                    <img id="logo" src="{% static 'img/logo.png' %}" alt="mistral">
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <nav id="menu" class="row">
                    {% if user.is_authenticated %}
                    <a class="col-xs-12 col-sm-3">{{ user.username }}</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Promociones</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_out' %}">Cerrar sesión</a>
                    {% else %}
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_in' %}">Iniciar sesión</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'sign_up' %}">Registrate</a>
                    {% endif %}
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:index' %}">Inicio</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:comprar' %}">Productos</a>
                    <a class="col-xs-12 col-sm-3" href="{% url 'blog:contacto' %}">Contáctanos</a>
                </nav>
            </div>
            
    
        </header>

        <section id="section_slider" class="row">
            <div class="col-xs-12">
                <section>
                    <br>
                </section>
            </div>
            <div id="slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="{% static 'img/adoptados/Apolo.jpg' %}" alt="Apolo">
                    </li>
                    <li>
                        <img src="{% static 'img/adoptados/Duque.jpg' %}" alt="Duque">
                    </li>
                    <li>
                        <img src="{% static 'img/adoptados/Tom.jpg' %}" alt="Tom">
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <section id="info" class="row">
                    <div id="num" class="col-xs-4">
                        <p><span class="icon-whatsapp"> +569 9999 9999</p>
                    </div>
                    <div id="slogan" class="col-xs-4">
                        <p>TU BOTILLERIA MÁS DE PANA</p>
                    </div>
                    <div id="redes" class="col-xs-12 col-sm-4">
                        <a id="icon" class="link" target="_blank" href="http://facebook.com/">
                            <span class="icon-facebook-with-circle"></span>
                        </a>
                        <a id="icon" class="link" target="_blank" href="https://plus.google.com/">
                            <span class="icon-google-plus3"></span>
                        </a>
                        <a id="icon" class="link" target="_blank" href="https://instagram.com/">
                            <span class="icon-instagram-with-circle"></span>
                        </a>
                        <a id="icon" class="link" target="_blank" href="http://gmail.com/">
                            <span class="icon-mail4"></span>
                        </a>
                    </div>
                </section>
            </div>
        </section>
        <article id="main" class="row">
            <div id="izquierda" class="col-xs-12 col-md-6">
                <h1 id="header1">DELIVERY</h1>
                <br>
                <p id="separador1">______</p>
                <br>
                <p id="text1">
                    En cualquier momento, en cualquier lugar, nosotros te llevamos la botella hasta donde estés.
                </p>
                <br>
                <img id="rescate" src="{% static 'img/rescate.jpg' %}"" alt=" rescate">
            </div>
            <div id="derecha" class="col-xs-12 col-md-6">
                <img id="crowdfunding" src="{% static 'img/crowfunding.jpg' %}"" alt=" crowdfunding">
                <br>
                <h1 id="header2">PROMOCIONES</h1>
                <p id="separador2">
                    <b>______</b>
                </p>
                <br>
                <p id="text2">
                    Sigue nuestras páginas y redes sociales para no perderte ninguna de nuestras mejores y limitadas ofertas.
                </p>
                <br>
            </div>
        </article>
        <section id="creditos">
                <br>
                <p>      ~Para que puedas tomar en la comodidad de tu hogar.</p>
                <br>
            </section>
    </section>
</body>

</html>