{% extends "base.html" %} {% block title %}Inicia Sesión{% endblock %} {% block content %}
<form method="POST" id="formulario">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" name="submit">
    <a href="{% url 'password_reset_form' %}" >Olvidé mi contraseña</a>
</form>
<br>
<p>
    <strong>Inicie con: </strong>
</p>
<a href="{% url 'social:begin' 'google-oauth2' %}"><img id="google" src="../../static/img/google-icon.png" alt=""></a>
<br>
{% endblock content %}