{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

    <form method="POST" id="formulario">
        {% csrf_token %}
        <p>Recuperar contraseña</p>
        <label for="id_email">Correo:</label> {{ form.email }}
        <input type="submit" name="submit" evalue="Enviar" >
    </form>    
{% endblock  %}