{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

{% if validlink %}

<form method="POST" id="formulario">
    {% csrf_token %}

    <p>Solicitar nueva contraseña</p>

    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva contraseña:</label> 
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirmar contraseña:</label> 
    {{ form.new_password2 }}

    <input type="submit" name="submit" evalue="Enviar" >

</form>    

{% else %}

<h2>Enlace inválido.</h2>

{% endif %}

{% endblock content %}


