{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<h2>Su contraseña se reestableció correctamente.</h2>

<p><a href="{% url 'iniciar-sesion' %}">Iniciar sesion</a></p>

{% endblock  %}