
.copetediv {
    position: relative;
}

.copetediv a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 0, 0);
}

#copetebd {
    position: relative;
    float: left;
    width:  33vh;
    height: 33vh;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.copetediv:hover{
    box-shadow: 1px 1px 10px #0000005b;
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.text-block {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    transition: all 0.3s ease;
}

#desc {
    display: block;
    transition: display 0s, opacity 0.5s linear;
}

.perrodiv:hover > .text-block #desc{
    display: block;
    transition: display 0s, opacity 0.5s linear;
}
