#formulario {
    font-size: 1.3rem;
    background-color: #6d6b6b;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.548);
    border-radius: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

}

#formulario button {
    font-weight: 500;
    font-size: large;
    transition: all 0.3s ease;
    border: 3px solid #01744b33;
    border-radius: 3px;
    margin-left: 37%;
    margin-top: 10%;
    margin-bottom: 5%;
}

#formulario input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 2%;
}

#formulario select {
    width: 107.5%;
}

#google {
    width: 50%;
    margin-left: 20%;
}

@media screen and (max-width: 767px) {
    #formulario input {
        width: 84%;
    }

    #formulario select {
        width: 92%;
    }
}