
#chocolate {
    margin-bottom: 1%;
}

#bigotes {
    margin-bottom: 1%
}

#maya {
    margin-bottom: 3%;
}

#pexel {
    margin-bottom: 1%;
}

#luna {
    margin-bottom: 3%;
}

@media screen and (min-width: 601px) {
    #foot {
        margin-left: 3%; 
    }
}

@media screen and (max-width: 600px) {
    #foot {
        margin-bottom: 89%;
    }
}

.lb-caption{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

.lb-data .lb-close {
    position: absolute;
    top: -35px;
    margin-right: -50px;
}