* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px #00000031;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



#container {
    padding: 0%;
}

header {
    background-color: #202020;
    width: 100vw;
    z-index: 3;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.548);
}


.flexslider {
    z-index: 1;
    position: relative;
}

.logo {
    background-color: #202020;
    display: flex;
    align-items: center;
}

#logo {
    padding: 20px;
    margin-left: 30px;
    width: 80%;
    padding-top: 10%;
}

#menu a {
    text-decoration: none;
    text-shadow: 1px 1px 2px #00000031;
    color: #FFFFFF;
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
    transition: background-color .5s;
    padding-right: 23%;
    padding-left: 10%;
}

#menu a:hover {
    background-color: rgb(86, 86, 86);
}

#section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #424242;
    z-index: 2;
    position: relative;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.548);
}

#section_slider {
    background-color: #5d5d5d;
    z-index: 2;
    position: relative;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.548);
}


#carrusel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 20vh;
}

#info {
    color: #ffffff;
    text-align: center;
    padding-bottom: 4vh;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px 2px #00000031;
}

#num {
    text-align: left;
    padding-left: 2em;
    font-size: 110%;
}

#redes {
    color: white;
    font-family: Iconos;
    font-size: 250%;
    overflow: hidden;
}

#icon {
    padding: .05em;
}

.link {
    text-decoration: none;
    transition: text-shadow .4s;
}

.link:link {
    color: white;
}

.link:visited {
    color: white;
}

.link:hover {
    color: white;
    text-shadow: 0px 0px 2px #ffffff
}

.link:active {
    color: white;
}

.copetediv {
    position: relative;
}

.copetediv a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 0, 0);
}

#copetebd {
    position: relative;
    float: left;
    width:  33vh;
    height: 33vh;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.copetediv:hover{
    box-shadow: 1px 1px 10px #0000005b;
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.text-block {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    transition: all 0.3s ease;
}

#desc {
    display: none;
    transition: display 0s, opacity 0.5s linear;
}

.copetediv:hover > .text-block #desc{
    display: block;
    transition: display 0s, opacity 0.5s linear;
}

#main {
    margin-top: 40px;
}

#izquierda {
    text-align: right;
    margin-bottom: 50px;
}

#header1 {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 200%;
}

#sub1 {
    margin-right: 15px;
    margin-left: 15px;
    font-size: large;
}

#separador1 {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 150%;
}

#text1 {
    margin-right: 15px;
    margin-left: 15px;
}

#rescate {
    margin-right: 15px;
    margin-left: 15px;
    transition: all 0.3s ease;
}

#rescate:hover {
    box-shadow: 1px 1px 10px #0000005b;
    -ms-transform: scale(1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari 3-8 */
    transform: scale(1.01);
}

#foot img:hover {
    box-shadow: 1px 1px 10px #0000005b;
    -ms-transform: scale(1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari 3-8 */
    transform: scale(1.01);
}

#foot img {
    transition: all 0.3s ease;
    margin-bottom: 2%;
}

#foot a {
    font-size: 0;
}

#foot p {
    color: #ffffff;
    text-align: center;
    padding-bottom: 4vh;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px 2px #00000031;
}

#crowdfunding {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.3s ease;
    width: 55%;
}

#crowdfunding:hover {
    box-shadow: 1px 1px 10px #0000005b;
    -ms-transform: scale(1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari 3-8 */
    transform: scale(1.01);
}

#header2 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 190%;
}

#sub2 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: large;
}

#separador2 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 150%;
    text-shadow: 0px 0px 1px #000000;
}

#text2 {
    margin-left: 15px;
    margin-right: 15px;
}

#camp {
    padding: 10px 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: large;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 3px;
    z-index: 1;
}

#camp:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: #000;
    transition: all 0.3s ease;
}

#camp:hover {
    color: #fff;
}

#camp:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

#camp:active {
    top: 2px;
}

#btns{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: large;
    background-color: #cdd2d2;
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 3em;
    background-color: #5d5d5d;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.548);
}

#creditos {
    background-color: #202020;
    color: #fff;
}

#section3 {
    margin-bottom: 18vh;
}

@media screen and (max-width: 992px) {
    #menu a {
        padding-top: 4vh;
        padding-bottom: 4vh;
        position: relative;
        box-sizing: border-box;
        position:relative;

    }
    #menu a::before,
    #menu a::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
    }
    #menu a::before,
    #menu a::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    #menu a::before {
        border-top: 3px solid #FFF;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
    #menu a:hover::before,
    #menu a:hover::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
    }
    #bigotes {
        width: 35%
    }
    #chocolate {
        width: 35%
    }
    #luna {
        width: 35%
    }
    #maya {
        width: 35%
    }
    #pexel {
        width: 35%;
    }
    #wifi {
        width: 35%
    }
}

@media screen and (max-width: 767px) {
    #menu a {
        padding-top: 4vh;
        padding-bottom: 4vh;
        position: relative;
        border-top: 3px solid #6DCCAA;
        box-sizing: border-box;
        position: relative;
    }
    #menu a::before,
    #menu a::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
    }
    #menu a::before,
    #menu a::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    #menu a::before {
        border-top: 3px solid #FFF;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
    #menu a:hover::before,
    #menu a:hover::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
    }
    header {
        position: unset;
    }
    #logo {
        width: 100%;
    }
    .logo {
        justify-content: center;
    }
    #carrusel {
        padding-top: 0;
    }
    #perritoImg {
        width: 100%;
    }
    #menu a {
        text-decoration: none;
        color: #FFFFFF;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: background-color 0.3s;
        background-color: #3c3c3c;
        border-style: solid;
        border-width: 1px;
        border-color: #202020;
    }
    #menu a:hover {
        background-color: #636363;
        border-style: solid;
        border-width: 1px;
        border-color: #fff;
    }
    #menu a:active {
        background-color: #636363;
        border-style: solid;
        border-width: 1px;
        border-color: #fff;
    }
    #rescate {
        width: 70%;
    }
    #num {
        display: none;
    }
    #slogan {
        display: none;
    }
    #icon {
        padding: .18em;
    }
    #bigotes {
        width: 35%;
        margin-left: 60%;
        position: absolute;
    }
    #chocolate {
        width: 25%;
        margin-bottom: 5%;
        margin-left: 33%;
        position: absolute;
    }
    #oso {
        width: 34%;
        margin-bottom: 3%;
        margin-right: 3%;
        position: absolute;
        margin-left: -3%;
    }
    #luna {
        width: 35%;
        margin-left: 60%;
        position: absolute;
        margin-top: 45%;
    }
    #maya {
        width: 34%;
        margin-left: -3%;
        margin-top: 27%;
        position: absolute;
    }
    #pexel {
        width: 25%;
        margin-left: 33%;
        margin-top: 39%;
        position: absolute;
    }
    #wifi {
        width: 34%;
        margin-right: 35%;
        margin-top: 51%;
        position: absolute;
        margin-left: -3%;
    }

    #section3 {
        margin-bottom: 6vh;
    }

    #desc {
        font-size: 0.8em;
    }
}