@font-face {
  font-family: 'flexslider-icon';
  src: url('flexslider-icon.eot');
  src: url('flexslider-icon.eot?#iefix') format('embedded-opentype'), url('flexslider-icon.woff') 
  format('woff'), url('flexslider-icon.ttf') format('truetype'), url('flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 601px) {
	.flexslider {
		width: 60%;
		position: relative;
		margin-left: 20%;
	}
}

@media screen and (max-width: 600px) {
	.flexslider {
		width: 100%;
		position: relative;
	}
}

.slides{
	overflow: hidden;
}

.slides img{
	width: 100%;
	margin-bottom: 7%;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-control-nav{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 1%;
	z-index: 999;
}

.flex-control-nav li{
	display: inline-block;
	margin: 0 6px;
}

.flex-control-nav li a{
	display: block;
	background: #fff;
	width: 8px;
	height: 8px;
	border-radius: 12px;
	text-indent: -9999px;
}

.flex-control-nav li a:hover{
	background: #2E2E2E;
}

.flex-control-nav li a.flex-active{
	background: #222;	
}

.flex-direction-nav a{
	display: block;
	text-decoration: none;
	position: absolute;
	top: 50%;
	z-index: 999;
	width: 40px;
	height: 40px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev{
	left: 0;
}

.flex-direction-nav .flex-next{
	right: 0;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: #fff;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

@media screen and (min-width: 601px) {
    .flex-caption p {
		font-family: Segoe UI;
		position: absolute;
		top: 50%;
		text-align: center;
		width: 100%;
		font-size: 35px;
		color: rgb(27, 27, 27);
		font-weight: bold;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }
  
  @media screen and (max-width: 600px) {
    .flex-caption p {
		font-family: Segoe UI;
		position: absolute;
		top: 70%;
		text-align: center;
		width: 100%;
		font-size: 15px;
		color: rgb(27, 27, 27);
		font-weight: bold;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 0.7;
	left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover{
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 0.7;
	right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover{
	opacity: 1;
}