@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?oymjg2');
  src:  url('icomoon.eot?oymjg2#iefix') format('embedded-opentype'),
    url('icomoon.ttf?oymjg2') format('truetype'),
    url('icomoon.woff?oymjg2') format('woff'),
    url('icomoon.svg?oymjg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram-with-circle:before {
  content: "\e900";
}
.icon-facebook-with-circle:before {
  content: "\e901";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-whatsapp:before {
  content: "\ea93";
}
